<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}InstaBLOG{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="{% url 'post_list' %}" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">InstaBLOG</span>
                        </a>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-3">
                    <a href="{% url 'chat:conversation_list' %}" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-gray-100 hover:text-gray-900 transition duration-300">Chat</a>
                    <!-- Add more navigation items here as needed -->
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-8">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>